 @import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200&family=Tajawal&display=swap');
 @media screen and (max-width:12024px) {
     
 
   
    body{
        font-family: 'Cairo', sans-serif;
        font-family: 'Tajawal', sans-serif;
        font-size: 10px;
        line-height: 1.5;
        height: auto;
        width: 100%;
        background-image: url("https://i.imgur.com/sJ003Km.jpeg");
        background-repeat: no-repeat;
        background-position: 100px 1200px;
        background-size: 100%;
        background-attachment:scroll;
    }
     
    a{
      text-decoration: none;
    }
    .text-primary{
        color: darkblue;
    }
    #navBar{
        display: flex;
        position: sticky;
        top: 0;
        background-color: rgba(71, 71, 72, 0.5);
        color:#fff;
        justify-content:space-between;
        padding: 1.5rem;
        z-index: 1;
    }
    #navBar ul{
    
        display: flex;
        list-style: none;
        align-items: center;
    }
    
     
    #navBar ul li a{
        color: blue;
        margin: 0 0.50rem;
        padding: 0.75rem;
    }
    
     
    #navBar ul li a:hover{
        background-color:rgb(236, 235, 144);
        border-radius: 70%;
    }
    
    .Show-contect{
        
    
      }
      
      p{
          font-size: 1.7rem;
        color: rgb(24, 23, 19);
    }
    h1{
        font-size: 2rem;
        margin-bottom: .75rem;
        line-height: 1.1;
    } 
    b{
        color: rgb(223, 28, 28);
        font-size: 50px;
    }
    .fh{
       
        color: blue;
       font-size: 25px;
    }
    
    .She1{
        color: blue;
        font-size: 25px;
    }
    .She{
        color: blue;
        font-size: 25px;
    }
    
    .dun{
        color: blue;
        font-size: 25px;
    }
    
    .han{
        
            color: blue;
            font-size: 25px;
      
    }
    
    .has{
       
         color: blue;
        font-size: 25px;
    }
    .NO{
        color: blue;
        font-size: 25px;
    }
    .yar{
        color: blue;
        font-size: 25px;
    }
    .sud{
        color: blue;
        font-size: 25px;
    }
    .mus{
        color: blue;
        font-size: 25px;
    }
    .jm{
        color: blue;
        font-size: 25px;
    }
    
    
    #End{
        height: 280px;
        width: 100%;
        display: flex;
        position: sticky;
        top: 0;
        background-color: rgba(27, 27, 29, 0.5);
        color:#fff;
        justify-content:space-between;
        padding: 1rem;
        z-index: 1;
    }
    
    
    #navBar1{
        display: flex;
        position:sticky;
        top: 0;
        background-color: rgba(27, 27, 29, 0.5);
        color:#fff;
        justify-content:space-between;
        padding: 1rem;
        z-index: 1;
        height: 300px;
    
    }
    
     .FFs{
         font-size: 20px;
         color:rgba(250, 239, 83, 0.809);
       padding: 0 0px;
       
     }
    
     .Vid{
         color: rgb(102, 1, 60);
         font-size: 39px;
     } 
}
